
/* side bar bottons */

.btn-side {
    display: flex;
    flex-direction: column;
    padding: 5px;

    .sign-up {
        background-color:  #312e2b;
    }
    
    .login {
        background-color: #769656;
    } 
    
    .sign-up,
    .login {
        max-width: 8.7rem;
        height: 2.4rem;
        cursor: pointer;
        appearance: none;
        border-style: none;
        border-radius: 3px;
        color: white;
        transition: 0.3s ease-in-out all;
    }
    
    .sign-up:hover {
        color: white;
        background-color: #423e39;
    }
    
    .login:hover {
        color: white;
        background-color: #85b357;
    }

    .input-box {
        margin-top: 20px;
        max-width: 8.1rem;
        height: 2.2rem;
        padding: 4px;
        border-style: none;
        border-radius: 3px;
        outline: none;
        color: rgb(255, 255, 255);
        background-color: #423e39;
    }
}

@media (max-width: 1122px) {
    .btn-side {
        display: none;
    }
}