@import '../colors';

.showtitle-final, 
.check-mate {
    position: absolute;
    display: flex;

    top: 17%;
    left: 19.5%;
    width: 36.5%;
    height: 78vh;

    z-index: 2;
    background-color: rgba(14, 13, 13, 0.8);

    @media (max-width: 500px) {
        top: 21%;
        left: 0%;
        width: 100%;
        height: 42vh;
    }

    #end-game-icon {
        position: absolute;

        top: 8%;
        left: 82%;

        cursor: pointer;
        width: 25px;
        height: 25px;

        z-index: 4;
        
        color: rgb(250, 84, 84);
        transform: translate(-57%, -50%);

        &:hover {
            color: rgb(255, 15, 15);
        }
    }

    .game-end, .play-again {
        position: absolute;

        width: 63%;
        height: 67vh;

        top: 50%;
        left: 57%;

        z-index: 3;

        transform: translate(-57%, -50%);
        background-color: rgba(0, 0, 0, 0.8);

        border-radius: 9px;
        gap: 2.7rem;

        .title-end-game {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            gap: 30px;

            h2 {
                font-family: $bs-font-sans-serif;
                font-size: 30px;
                color: white;
            }

            p {
                color: #cec7c0;
                font-family: $bs-font-sans-serif;
                font-size: large;
                font-weight: 700;
            }

            #icon-end {
                width: 50px;
                height: 50px;
                color: rgb(33, 209, 33);
            }

            .update-player-status {
                h3 {
                    text-align: center;
                    color: #e0e0e0;
                    font-family: $bs-font-sans-serif;
                }
            }
        }
    
        .btn-game-end {
            display: flex;
            flex-direction: column;
            padding: 20px;

            gap: 20px;

            .rematch-game-end {
                background-color:  #312e2b;
            }
            
            .new-game-end {
                background-color: #3dff2c;
            } 
            
            .rematch-game-end,
            .new-game-end {
                width: 100%;
                height: 2.6rem;
                cursor: pointer;
                appearance: none;
                border-style: none;
                border-radius: 5px;
                color: white;
                transition: 0.3s ease-in-out all;
            }
            
            .rematch-game-end:hover {
                color: white;
                background-color: #423e39;
            }
            
            .new-game-end:hover {
                color: white;
                background-color: #56fc46;
            }
        }


        @media (max-width: 500px) {
            & {
                width: 63%;
                height: 39vh;
                top: 50%;

                .title-end-game {
                    gap: 0;
                }
            }
        }
    }
}

.check-mate-engine {
    @extend .check-mate;
    .game-end, .play-again {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    left: 36.8%;
    top: 11%;
}