@use './scss/optionsList.scss';
@use './scss/buttonSide.scss';
@use './scss/themes.scss';
@use './scss/social.scss';

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Karla:ital@1&display=swap');


$font1: 'Playfair Display', serif;
$font2: 'Karla', serif;
$btn-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
0 2px 4px -1px rgba(0, 0, 0, 0.06);

/* title */

.title {
    width: 11%;
    height: 100vh;
    background-color: #272522;
    .items {
        display: flex;
        flex-direction: column;
        margin-top: 0;
        margin-bottom: 1rem;
        list-style: none;
        padding-left: 0;
        font-size: 24px;
        font-family: $font2;
        color: rgb(255, 255, 255);
        h1 {
            margin: 0;
            height: 50px;
            font-size: 25px;
            padding-top: 20px;
            padding-left: 32px;
            font-family: $font1;
            background-image: url('./side.PNG');
            background-repeat: no-repeat;
            background-position: left;
            background-size: 2.7rem;
            color: rgb(255, 255, 255);
            &:hover{
                cursor: pointer;
                background-color: #24211f;
            }
        }
        li {
            line-height: 3rem;
            padding-left: 13px;
            span {
                margin-left: 5px;
            }
            &:hover {
                cursor: pointer;
                background-color: #24211f;
            }
        }
    }
}


/* media screen */

@media (max-width: 1122px) {
    .title {
        max-width: 3rem;
        min-width: 3rem;
        
        h1 span {
            display: none;
        }

        li {
            padding-left: 11px;
            span {
                display: none;
            }
        }
    }
    
}

/* icons */

#icon-two {
    color: rgba(135, 153, 255, 0.363);
}

#icon-three {
    color: rgba(255, 152, 224, 0.432);
}

#icon-four {
    color: rgba(84, 110, 255, 0.486);
}

/* support */

.support {
    list-style: none;
    padding-left: 0;
    margin-top: 2rem;
    font-size: 17px;
    font-family: $font2;
    color:#ffffff86;
    li {
        line-height: 2.1rem;
        padding-left: 13px;
        span {
            margin-left: 5px;
        }
        &:hover {
            cursor: pointer;
            color: rgb(255, 255, 255);
            background-color: #24211f;
        }
    }
}

@media (max-width: 1122px) {
    .support {
        li span {
            display: none;
        }
    }
}
