$width: 65px;
$height: 65px;

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 51%;
  height: 99.7vh;
}

.chessBoard {
  display: grid;
  grid-template-columns: repeat(8, $height);
  grid-template-rows: repeat(8, $width);
  width: fit-content;
}

.white-square,
.darkblue-square {
  width: $width;
  height: $width;
}

.white-square {
  background-color: #eeeed2;
}

.darkblue-square {
  background-color: #769656;
}

.highlight-square::before {
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.4);
  transform: translate(112%, 114%);
}

// attacked piece
.black::before,
.white::before {
  content: "";
  display: block;
  width: $width;
  height: $height;
  border-radius: 50%;
  border: 3px solid rgba(53, 53, 53, 0.952);
}

.piece {
  width: $width;
  height: $height;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 60px;
}

.piece:hover {
  cursor: grab;
}

.piece:active {
  cursor: grabbing;
  z-index: 1;
}

#Pawn-promotion {
  position: absolute;
  left: 0;
  bottom: 0;
  top: 0;
  right: 0;
}

#PiecesPromotion {
    width: 60px; 
    height: 50px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 60px;
    padding: 20px;
    border-radius: 50%;
}

.hide-title {
  display: none;
}

.body-promotion {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-32%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 190px;
  width: 520px; /* Adjust the maximum width for small screens */
  background-color: rgba(0, 0, 0, 0.8);
  gap: 10px;
  box-sizing: border-box;
}

#PiecesPromotion:hover {
  background-color: rgb(230, 230, 230);
  cursor: pointer;
}