
.chessBoard {
    display: grid;
    grid-template-columns: repeat(8, 75px);
    grid-template-rows: repeat(8, 75px);
    width: 600px;
    height: 600px;
    margin-top: 1rem;
}

.square-piece, .square {
    width: 75px;
    height: 75px;
}

.piece {
    width: 75px; 
    height: 75px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 60px;
    z-index: 50;
}

.piece:hover {
    cursor: grab;
}

.piece:active {
    cursor: grabbing;
    z-index: 100;
}

#Pawn-promotion {
    position: absolute;
    left: 0;
    bottom: 0;
    top: 0;
    right: 0;
}

#PiecesPromotion {
    width: 60px; 
    height: 80px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 60px;
    height: 50px;
    padding: 20px;
    border-radius: 50%;
}

.hide-title {
    display: none;
}

.body-promotion {
    position: absolute;
    top: calc(50% - 100px);
    left: calc(50% - 300px);
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 190px;
    width: 600px;
    background-color: rgba(0, 0, 0, 0.8);
}

#PiecesPromotion:hover {
    background-color: rgb(230, 230, 230);
    cursor: pointer;
}