$width: 75px;

.chessBoard {
  display: grid;
  grid-template-columns: repeat(8, $width);
  grid-template-rows: repeat(8, $width);
  width: $width * 8;
  height: $width * 8;
  margin-top: 1rem;
}

.white-square,
.darkblue-square {
  width: $width;
  height: $width;
}

.white-square {
  background-color: white;
}

.darkblue-square {
  background-color: rgb(61, 139, 74);
}

.highlight-square::before {
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.4);
  transform: translate(140%, 140%);
}

// attacked piece
.black::before {
  content: "";
  display: block;
  width: 75px;
  height: 75px;
  border-radius: 50%;
  border: 3px solid rgba(2, 0, 0, 0.952);
}

.white::before {
  content: "";
  display: block;
  width: 75px;
  height: 75px;
  border-radius: 50%;
  border: 3px solid rgba(2, 0, 0, 0.616);
}

.piece {
  width: $width;
  height: $width;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 60px;
  z-index: 50;
}

.piece:hover {
  cursor: grab;
}

.piece:active {
  cursor: grabbing;
  z-index: 100;
}

#Pawn-promotion {
  position: absolute;
  left: 0;
  bottom: 0;
  top: 0;
  right: 0;
}

#PiecesPromotion {
    width: 60px; 
    height: 80px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 60px;
    height: 50px;
    padding: 20px;
    border-radius: 50%;
}

.hide-title {
  display: none;
}

.body-promotion {
  position: absolute;
  top: calc(50% - 100px);
  left: calc(50% - 300px);
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 190px;
  width: $width * 8;
  background-color: rgba(0, 0, 0, 0.8);
}

#PiecesPromotion:hover {
  background-color: rgb(230, 230, 230);
  cursor: pointer;
}