
.chessBoard {
    display: grid;
    grid-template-columns: repeat(8, 100px);
    grid-template-rows: repeat(8, 100px);
    width: 800px;
    height: 800px;
    background-color: darkblue;
}

.square-piece, .square {
    width: 100px;
    height: 100px;
}

.piece {
    width: 100px; 
    height: 100px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 80px;
}

.piece:hover {
    cursor: grab;
}

.piece:active {
    cursor: grabbing;
}