$width: 65px;
$height: 65px;

.review {
  position: absolute;
  width: 38.09%;
  height: 80vh;
  top: 50%;
  left: 49.68%;
  z-index: 1;
  transform: translate(-57%, -50%);
  background-color: rgba(0, 0, 0, 0.048);
  opacity: 0.5;
}
.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    
    .chessBoard {
      display: flex;
    }
    
    .white-square,
    .darkblue-square,
    .green-square,
    .lightblue-square,
    .brown-square,
    .purple-square,
    .black-square {
      width: $width;
      height: $height;
    }
    
    .white-square {
      background-color: #eeeed2;
    }
    
    .darkblue-square {
      background-color: #769656;
    }
    
    .green-square {
      background-color: green;
    }

    .lightblue-square {
      background-color: lightblue;
    }

    .brown-square {
      background-color: rgb(165, 87, 42);
    }

    .purple-square {
      background-color: rgb(175, 80, 175);
    }

    .black-square {
      background-color: rgb(43, 39, 39);
    }
  
}



.highlight-square::before {
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.4);
  transform: translate(112%, 114%);
}

// attacked piece
.black::before,
.white::before {
  content: "";
  display: block;
  width: $width;
  height: $height;
  border-radius: 50%;
  border: 3px solid rgba(53, 53, 53, 0.952);
}

.piece {
  width: $width;
  height: $height;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 60px;
}

.piece:hover {
  cursor: grab;
}

.piece:active {
  cursor: grabbing;
  z-index: 1;
}

#Pawn-promotion {
    position: absolute;
    left: 0;
    bottom: 0;
    top: 0;
    right: 0;
    
    .body-promotion {
      z-index: 1;
      position: absolute;
      top: 50%;
      left: 47%;
      transform: translate(-50%, -50%);
      display: flex;
      align-items: center;
      justify-content: center;
      height: 190px;
      width: 521px; 
      background-color: rgba(0, 0, 0, 0.8);
      gap: 10px;
      box-sizing: border-box;
      
      #PiecesPromotion {
        width: 60px; 
        height: 50px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: 60px;
        padding: 20px;
        border-radius: 50%;
      }
    }

  #PiecesPromotion:hover {
    background-color: rgb(230, 230, 230);
    cursor: pointer;
  }
}

.hide-title {
  display: none;
}

@media (max-width: 1300px) {
  .container {
    justify-content: center;
    align-items: center;
  }
  .review {
    width: 48.1%;
    left: 47.3%;
  }
}