

.navigate {
    position: absolute;
    top: 1%;
    left: 93%;

    .btn-profile {
        width: 100%;
        padding: 17px;
        border-radius: 50%;
        outline: none;
        border-style: none;
        cursor: pointer;
        background-color: rgb(80, 80, 82);

        &:hover {
            background-color: rgb(54, 54, 56);
        }
        #icon {
            position: relative;
            color: rgb(255, 255, 255);
            width: 20px;
            height: 20px;
        }
    }
}