@use './scss/optionsList.scss';
@use './scss/buttonSide.scss';
@use './scss/themes.scss';
@use './scss/social.scss';
@use './scss/news.scss';
@use './scss/playerList.scss';

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Karla:ital@1&display=swap');


$font1: 'Playfair Display', serif;
$font2: 'Karla', serif;
$btn-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
0 2px 4px -1px rgba(0, 0, 0, 0.06);

/* title */

.title {
    width: 11%;
    height: 100vh;
    background-color: #272522;
    .items {
        display: flex;
        flex-direction: column;
        margin-top: 0;
        margin-bottom: 1rem;
        list-style: none;
        padding-left: 0;
        font-size: 24px;
        font-family: $font2;
        color: rgb(255, 255, 255);
        h1 {
            margin: 0;
            height: 50px;
            font-size: 25px;
            padding-top: 20px;
            padding-left: 32px;
            font-family: $font1;
            
            background-repeat: no-repeat;
            background-position: left;
            background-size: 3.5rem;
            background-position-x: 10px;
            color: rgb(255, 255, 255);
            &:hover{
                cursor: pointer;
                background-color: #24211f;
            }
            span {
                margin-left: 5px;
            }
        }
        .one {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;
            padding: 10px;
            padding-left: 13px;
            &:hover {
                cursor: pointer;
                background-color: #2c2a27;
            }
            #ICON {
                width: 30px;
                height: 30px;
            }
        }
    }

    @media (max-width: 1122px) {
        & {
            max-width: 3rem;
            min-width: 3rem;
            
           .items {
                h1 {
                    background-size: 3.2rem;
                    background-position-x: 0px;
                    span {
                        display: none;
                    }
                }
                .one {
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-end;
                    align-items: center;
                    padding: 10px;
                    #ICON {
                        width: 30px;
                        height: 30px;
                    }
                    span {
                        display: none;
                    }
                }
           }
        }
    }
}

/* support */

.support {
    list-style: none;
    padding-left: 0;
    margin-top: 2rem;
    font-size: 17px;
    font-family: $font2;
    color:#ffffff86;
    li {
        line-height: 2.1rem;
        padding-left: 13px;
        span {
            margin-left: 5px;
        }
        &:hover {
            cursor: pointer;
            color: rgb(255, 255, 255);
            background-color: #24211f;
        }
    }

    @media (max-width: 1122px) {
        & {
            li span {
                display: none;
            }
        }
    }
}