
$transition: 0.3s ease-in-out all;

.login,
.register {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
    width: 100%;
    gap: 19px;

    #title {
        color: #ffffff;
        font-size: 30px;
    }

    img {
        width: 120px;
        height: 120px;
    }

    .container-login,
    .container-register {
        display: flex;
        flex-direction: column;
        text-align: center;
        
        height: 63vh;
        width: 40%;
        border-radius: 6px;
        background-color: #262421;

        gap: 15px;

        input:first-child {
            margin-top: 2rem;
        }

        input {
            margin: 0 auto;
            width: 90%;
            height: 1.9rem;
            padding: 5px;
            color: white;
            outline: none;
            border-style: none;
            background-color: #3c3a38;
        }
        
        ::placeholder {
            color: rgba(255, 255, 255, 0.644);
            font-size: 15px;
        }

        .btn-login,
        .btn-register {
            margin: 0 auto;
            width: 92%;
            cursor: pointer;
            height: 2.7rem;
            margin-top: 1.8rem;
            cursor: pointer;
            border-style: none;
            outline: none;
            border-radius: 6px;
            color: white;
            font-size: 20px;
            background-color: #81b64c;
            transition: $transition;
            &:hover {
                color: white;
                background: #9beb4b;
            }
        }

        .spliter-section {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;

            margin-top: 1rem;
            gap: 10px;

            .first-line {
                margin-left: 20px;
                height: 1px;
                width: 40%;
                background-color: #3c3a38;
            }

            .middle-span {
                color: #ffffff;
            }

            .last-line {
                margin-right: 20px;
                height: 1px;
                width: 40%;
                background-color: #3c3a38;
            }
        }

        .social-provider {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        
            #git, #google {
                color: white;
            }
        
            .github, 
            .google,
            .login-providers {
                width: 90%;
                height: 2.3rem;
                cursor: pointer;
                border-style: none;
                outline: none;
                margin-top: 17px;
                border-radius: 6px;
                color: rgb(255, 255, 255);
                font-size: 17px;
                transition: $transition;
            }

            .login-providers{
                height: 3rem;
                background-color: rgb(27, 25, 25);
                &:hover {
                    background: rgb(12, 12, 12);
                }
            }
        
            .github {
                background-color: rgb(24, 22, 22);
                &:hover {
                    background: rgb(39, 35, 35);
                }
            } 
            .google {
                background-color: rgb(219, 27, 27);
                &:hover {
                    background: rgb(177, 12, 6);
                }
            }
        }
    }
}