@import url('https://fonts.googleapis.com/css2?family=Karla:ital@1&display=swap');

$font: 'Karla', sans-serif;

.record-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
    min-width: 30%;
    height: 79vh;
    border-radius: 8px;
    gap: 20px;
    background-color: #272522;
    h2 {
        color: white;
        font-family: $font;
        #icon-knight {
            color: rgb(192, 13, 13);
        }
    }
    .record-moves {
        width: 90%;
        height: 30vh;
        border-radius: 8px;
        padding: 4px;
        color: white;
        font-family: $font;
        background-color: #44413b;
        overflow: auto;
    }
    .btns-record-moves {
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: 90%;
        height: 40px;
        padding: 10px;
        gap: 20px;
        .record-left {
            background-color: #383635;
            #arrow-left {
                width: 20px;
                height: 20px;
                color: wheat;
            }
            &:hover{
                background-color: #4b4847;   
            }
        }
        .record-right {
            background-color: #769656;
            #arrow-right {
                width: 20px;
                height: 20px;
                color: wheat;
            }
            &:hover{
                background-color: #89ac66;
            }
        }
        button {
            width: 100%;
            height: 2.6rem;
            cursor: pointer;
            appearance: none;
            border-style: none;
            border-radius: 7px;
        }
    }
    .foot-record-moves {
        display: flex;
        flex-direction: column;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        max-width: 100%;
        height: 70px;
        gap: 10px;
        span {
            font-size: 24px;
            color: white;
            font-family: $font;
        }
    }
    #title-b {
        margin-top: 0;
        color: rgb(4, 175, 255);
        font-family: $font;
    }
    .title {
        text-align: center;
        width: 100%;
        height: 20px;
        font-size: 13px;
        color: rgb(235, 4, 4);
    }
}

@media (max-width: 1300px) {
    .record-container {
        margin-left: 20px;
    }
}