
.user-auth {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    margin-top: 6rem;
    padding-top: 20px;
    width: 50%;
    height: 70vh;
    background-color: rgb(48, 51, 54);
    gap: 30px;

    .img {
        margin: 0 auto;
        width: 120px;
        height: 120px;
        background-color: black;
        border-radius: 50%;
    }

    .user-profile {
        display: flex;
        flex-direction: column;

        h3 {
            text-align: center;
            color: white;
        }

        ul {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            list-style: none;
            color: white;
            text-align: center;

            span {
                color: green;
            }
        }
    }
    .btn-profile {
        margin: 0 auto;
        width: 50%;
        cursor: pointer;
        height: 2.7rem;
        cursor: pointer;
        border-style: none;
        outline: none;
        border-radius: 6px;
        color: white;
        font-size: 20px;
        background-color: #ff4b04;
        &:hover {
            color: white;
            background: #cc3b02;
        }
    }
}